
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(20,20,20,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,0,0,0.4);
}

.pro-img {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.pro-img p{
  padding: 3%;
  font-size: 100%;
  line-height: 1.5em;
}

.pro-img p a {
  text-decoration: none;
  font-weight: bold;
  color: #bc2f3a;
}

.info {
  background-color:#333333;
  height: 7%;
  padding: 2%;
  font-size: 200%;
  font-family: 'Alegreya', serif;
  color: #bc2f3a;
  border-style: solid;
  border-bottom: 2px solid #bc2f3a;
  min-width: 80%;
}

.like {
  font-size: 60%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#left {
  /*background-image: url(../img/me.jpg);*/
  float: left;
  /*display:flex;*/
  width: 30%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#left img {
    max-width: 100%;
    height: auto;
    width: auto;
}

#left img {
  filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#left img:hover {
  filter: grayscale(0%);
}

#gallery {
  margin-top: 6%;
}

.wrap {
  float:right;
  display:flex;
  width: 70%;
  height: 100vh;
  background-color: grey;
}

html {
  overflow-y: scroll;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
}

.container {
	float:right;
	width: 100%;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 100%;
  overflow: auto;
  padding: 0;
  cursor: pointer;
}
 
 #top {
   position: absolute;
   top:0;
   right: 0;
   width: 70%;
   z-index: 1000;
   background-color: black;
 }

#filters {
  padding: 0;
	list-style:none;
	/*font-size: 0;*/
	min-width: 1200px;
}

#filters li {
		display: inline-block;
		text-align: center;
		padding: .4%;
		width: 15%;
		text-decoration:none;
		color:#fff;
		font-size: 100%;
		font-weight: bold;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		/*font-family: 'Alegreya', serif;*/
		letter-spacing: 1px;
	}
	
	#filters li span.active {
		color:#bc2f3a;
    transition:all .3s;
    -webkit-transition: all .3s;
	}
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:33.33%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor: default;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
		filter: grayscale(100%);
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:100%;
		bottom:-100%;
				opacity: 0.88;
    -webkit-transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	
		.portfolio .label-bg {
			background: #bc2f3a;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		
		.portfolio .label-text a {
		  text-decoration: none;
		  color: white;
		  	-webkit-transition: all .3s ease;
		  	-moz-transition: all .3s ease;
		  	-o-transition: all .3s ease;
		  	transition: all .3s ease;
		  	font-size: 120%;
		}
		
		.portfolio .label-text a:hover {
		  text-decoration: none;
		  color: black;
		  cursor: pointer !important;
		}
		
		.portfolio .label-text {
			color:white;
			font-weight: bold;
			position: relative;
			padding: 5%;
			z-index: 100;
			cursor: default !important;
			font-family: 'Alegreya', serif;
			font-size: 90%;
		}
			
			.portfolio .text-category {
				display:block;
				padding-top: 5%;
				font-family: 'Open Sans', sans-serif;
				line-height: 1.5em;
			}
	
	.portfolio:hover .label {
    bottom:0;
  }

/* Clearing */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
