section {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: var(--r-unit);
}
figure {
	width: 100%;
	position: relative;
	background: #eee;
}
h1 {
	font: 1.5rem var(--body-font);
	padding-bottom: var(--r-unit);
	text-align: center;
}
h2 {
	font: 1.3rem var(--title-font);
	padding-bottom: var(--r-unit);
	text-transform: uppercase;
}
h3 {
	font: 1.2rem var(--title-font);
	display: inline-block;
	width: 100%;
	margin-bottom: .5em;
	color: var(--accent-color);
	text-transform: uppercase;
}
figcaption {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s ease-out;
	text-align: center;
	background: var(--light-color);
	padding: calc(var(--r-unit) * 2 / 3);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
figcaption p {
	font: 1.2rem var(--body-font);
	color: #000;
}
figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
figure:hover > figcaption {
	transition: all .3s ease-in;
	opacity: .9;
}
/*RESPONSIVE DESIGN*/
@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.1rem;
	}
	h2 {
		text-align: center;
	}
	figcaption p {
		font: 1.2rem var(--body-font);
	}
	section {
		grid-template-columns: repeat(auto-fit, minmax(calc(320px - (2 * var(--r-unit))), 1fr));
	}
}