body {
	min-width: 900px;
	width: 1200px;
	margin: 0 auto;
	background-color:white;
}

#main {
	text-align: center;
	width: 1200px;
}

::selection {
	color: #3572B9;
	background: none;
}
::-moz-selection {
	color: #3572B9;
	background: none;
}

#title, #btw, .bye {
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title, #intro, #sites, #exp, #btw, #art, #linx, .bye {
		margin: 0 auto;
}

#title {
	font-family: 'Satisfy', cursive;
	font-size: 70px;
	padding-top: 50px;
	padding-bottom: 10px;
	color: #3F403F;
	width: 900px;
	height: 100px;
	margin: 0 auto;
}

#pic {
	float: left;
	width: 300px;
	margin-left: 180px;
}

#pic img {
	border-radius: 40px 40px 40px 40px;
}


#intro {
	float: right;
	margin-right: 230px;
	width: 450px;
	height: 150px;
	text-align: justify;
}

#intro, #art {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	padding: 20px;
}

#sites {
  width: 1100px;
  height: 200px;
  clear: both;
  padding-top: 20px;
}

#sites li {
	  display: inline-block;
	  margin: 1em;
}

#sites img {
	height: 150px;
	width: 150px;
	/*-webkit-transition-duration: 1s;
	 opacity: 0.7;
    filter: alpha(opacity=70);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/	
}

/*#sites img:hover {
	-webkit-transition-duration: 1s;
    opacity: 1.0;
    filter: alpha(opacity=100); 
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}*/

#exp {
	  width: 1100px;
	  height: 200px;
	  margin-top: -20px;
	  font-family: 'PT Sans', sans-serif;
	  font-size: 14px;
}

.e1, .e2, .e3, .e4, .e5 {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin: 1em;
	text-align: left;
}

#btw {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
	font-family: 'Satisfy', cursive;
	font-size: 70px;
	margin-top: -70px;
	padding-bottom: 10px;
	color: #3F403F;
	width: 900px;
	height: 50px;
}

#art {
	float: right;
	width: 300px;
	height: 300px;
	margin-top: 20px;
	margin-right: 220px;
	text-align: justify;
}

#container {
	width: 400px;
	height: 450px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	margin-left: 220px;
	margin-bottom: 10px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 450px;
  background: #ccc;
  text-align: center;
  line-height: 450px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 60px;
  font-size: 18px;
}

#linx {
	clear: both;
}

#linx li {
	display: inline-block;
	width: 100px;
	height: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#linx li a {
	color: black;
	text-decoration: none;
	-webkit-transition-duration: 1s;
}

#linx li a:hover {
	letter-spacing: 1px;
	-webkit-transition-duration: 1s;
	color: blue;
}

.bye {
	font-family: 'Satisfy', cursive;
	font-size: 40px;
	padding-top: -40px;
	margin-left: 230px;
	padding-bottom: 30px;
	color: #000;
	width: 900px;
	height: 70px;
	text-align: left;
	line-height: 100px;
	clear: both;
}