html { 
  background: url('../img/tech/binary.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  background-color:#084B8A;
  color: white;
  letter-spacing: 2px;
  cursor: default;
  clear: both;
  position: relative;
}

header {
  background-color:#A9D0F5;
  color: white;
  cursor: default;
}
.nava {
  color: white;
}

#nav {
  background-color:#084B8A;
}

/*RESET CSS BEGINS (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS ENDS*/

html,body {
  padding:0;
  margin:0;
}

p {
  margin:0;
  padding:0 0 1em 0;
}

#main {
  padding:100px 0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
}

header {
  margin-top:-100px;
  height:170px;
  text-align: center;
}

#head-cont {
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nav li {
  margin-left: 50px;
  display:inline-block;
  min-width: 200px;
}

.nava {
  padding: 3px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.nava:hover {
  letter-spacing: 3px;
}

#main {
	margin: 0 auto;
	width: 1290px;
	height: 530px;
	padding-top: 150px;
}


#nav {
  text-align: center;
  margin-left: -50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 55px;
  margin-top: 0px;
  padding-top: 20px;
}

.lock, .it {
  font-size: 66px;
  display: inline;
}

.lock {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
}

.it {
  font-family: 'Dosis', sans-serif;
}

header img {
  width: 60px;
  height: 70px;
}

#content {
 height: 530px;
 background-color: #E6E6E6;
}

body {
    background: #eee;
}

footer {
  height:55px;
  text-align: center;
}

.rights {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing 5px;
  padding-top: 20px;
  margin-top: -25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
