main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: "Sum Sum Sum" "Intro Txt Txt" "Intro Txt Txt" "Nav Nav Nav";
	column-gap: var(--r-unit);
	margin-bottom: 1rem;
}/*
summary, article, section, nav {
	border: 2px solid red;
}*/
summary {
	grid-area: Sum;
	margin-bottom: var(--r-unit);
}
article {
	grid-area: Txt;
	margin-bottom: var(--r-unit);
}
section, article {
	height: 100%;
}
section {
	grid-area: Intro;
}
nav {
	grid-area: Nav;
	margin-top: var(--r-unit);
	display: flex;
	justify-content: space-between;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	font: 1.1rem var(--title-font);
}
section img {
	width: 100%;
	margin-bottom: var(--half-r-unit);
}
strong {
	font-weight: 600;
}
h1 {
	font: 1.5rem var(--body-font);
}
h2 {
	font: 1.4rem var(--body-font);
	margin-bottom: var(--half-r-unit);
}
summary img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
article p {
	margin-bottom: 1em;
	font: 1.2rem var(--body-font);
}

section ul li {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: var(--half-r-unit);
	font: 1.2rem var(--body-font);
}
li.cat{
	list-style-type: none;
	margin-left: - var(--half-r-unit);
}

@media (max-width: 700px) {
	body {
		background: pink;
	}
	main {
		grid-template-areas: "Intro Intro Intro" "Txt Txt Txt" "Resume Resume Resume";
	}
	section ul li, article p {
		font-size: 1rem;
	}
	h1 {
		font-size: 1.2rem;
	}
}
	