html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

footer, .left-title, .left-pics, .left-content-all, .right-content-all, header, #navigation, .right-content, .right-content2 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;	
}

/*basic start*/
header {
	width:1024px;
	height: 116px;
	color:white;
	margin: 0 auto;
	text-align:center;
	font-size: 250%;
    padding: 40px;
}

#logo {
	width:617px;
	height: 38px;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	z-index:3;
}

body {
	font-family: Verdana, Arial;
	background-color: #2E2E2E;
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
	position:relative;
	top:-65px;
}

h3 {
	width:1014px;
	height: 30px;
	color:white;
	margin: 0 auto;
	text-align:center;
	font-size: 200%;
    padding: 5px;
}

h4 {
	color:white;
	font: 44px "Myriad pro";
    padding: 5px;
}


ul
{
	list-style-type:none;
}

li
{
	display:inline;
}

#navigation {
	z-index:2;
	text-align:center;
	padding: 10px;
}

#container {
	width:1024px;
	height: 950px;
	margin: 0 auto;
	background-color:black;
}


#navigation {
	width: 1024px;
	height: 46px;
	background-color: rgba(255,255,255,0.2)
}

a.menu:link,a.menu:visited, a.menu:active {
	display:inline-block;
	width:200px;
	text-align: center;    
	font: 14px "Myriad Pro";
	letter-spacing: 2px; 
	color: #fff;
	text-decoration: none; 
	padding: 5px; 
	-webkit-transition: all .6s ease-out;
	-moz-transition: all 4s ease-out;
	-o-transition: all .8s ease-out;
	-ms-transition: all 4s ease-out;
	transition: all .8s ease-out;
} 


li a.menu:hover { 
	letter-spacing: 6px;
	text-decoration: none;
}

a.menu,{
    display: inline-block;
}
/*basic end*/


.right-content, .right-content2 {
	background-color: rgba(255,255,255,0.35)
	
}

.left-title, .left-pics {
	background-color: rgba(255,255,255,0.1)
	
}

.right-content, .right-content2 {
padding-top: 10px;
}


.left-content-all {
  float: left;
  width: 580px;
  margin: 15px auto;
}

.left-top {
  text-align:right;
  width: 580px;
  height: 314px;
  margin: 15px auto;
}

.left-title {
  text-align:center;
  width: 560px;
  height: 80px;
  padding-top: 7px;
  margin: 30px auto;
  margin-left: 20px;
  
}

.left-pics {
  text-align:center;
  width: 560px;
  height: 200px;
  padding: 30px;
  margin-left: 20px;
  color: white;

}

.left-pics img {
  display:inline;
  }
  
p {
    word-spacing:10px;
  }

/*left side end*/

.right-content-all {
  width: 400px;
  float: right;
  color:white;
}

a:link, a:visited, a:active {
	width:400px;
    font: 24px "Myriad Pro";
	letter-spacing: 2px; 
	color: #fff;
	text-decoration: none
}

a:hover {
color: #FDEA00; 
text decoration: underlined
}
.right-content {
  float:right; 
  width: 395px;
  height: 80px;
  text-align:center;
  margin-top: 30px;
  margin-right: 25px;
}

.right-content2 {
  float:right; 
  width: 395px;
  height: 80px;
  text-align:center;
  margin: 30px auto;
  margin-right: 25px;

}

.right-pic {
  float:right; 
  width: 400px;
  height: 314px;
  margin-right: 20px;
}

.right-text {
  float:right; 
  width: 395px;
  height: 130px;
  margin-top: 30px;
  margin-right: 25px;
  }
  
/*right side end*/

footer {
	clear:both;
	width: 1024px;
    height: 10px;
	margin: 0px auto;
	font-family:"Myriad Pro";
	color:white;
	padding: 68px;
}



