main {
	overflow: auto;
	display: grid;
	grid-gap: var(--baseSpaceWidth);
    grid-template-columns: repeat(3, 1fr);
}
article, section {
	padding: calc(var(--baseTextSpace)/2) 0;
}
article {grid-column: 1 / span 2;}
section {grid-column: 3 / span 1;}

main {
	height: 80vh;
	overflow: auto;
}
strong, em {
	font: var(--fontStrong);
}
section table {
	width: 100%;
}
section table tr th {
	text-align: left;
}
section span {
	display: block;
	padding-bottom: calc(var(--baseSpaceWidth)/8);
}
section p.role {
	padding-top: 0;
	font: var(--fontSmallHeight);
}
section p.role: {
	padding-top: 0;
	font: var(--fontSmallHeight);
}
section p.role:last-of-type {padding-bottom: 0;}
ul li {
	font: var(--fontSmallHeight);
}
a {
	font: var(--fontSmallHeight);
    color: var(--col-p2);
}
section em + a {
	font: var(--fontStrongSmallH);
	font-weight: 600;
}
img:first-child {
	border-radius: 50%;
	width: 7em;
	padding: 0;
	margin-top: calc(var(--baseSpaceWidth)/4);
}
article h1 {
	display: inline-block;
	position: relative;
	padding: 0 calc(var(--baseSpaceWidth)/4);
	bottom: calc(var(--baseSpaceWidth)/3);
}
iframe {
	border: 0;
	overflow: hidden;
	height: 40em;
}
i.fa-print {
	color: var(--col-p2);
	font-size: 1.5em;
	position: relative;
}
i.fa-print:hover {
	color: var(--col-p1);
}
i.fa-print::after {
	content: "view/print résumé";
	font: var(--fontH3);
	position: absolute;
	display: inline-block;
	left: 1.5em;
	width: 10em;
	opacity: 0;
}
i.fa-print:hover::after {
	opacity: 1;
}