:root {
    --contGap: 1rem;
}
main {
    grid-column: 1 / span 12;
    grid-row: 2 / 3;
	display: grid;
	grid-template-rows: repeat(2, auto);
}
main > * {
	overflow: hidden;
}
article[aria-label="introduction"] {
	padding: var(--contGap) var(--baseWidPer);
	grid-row: 1 / 2;
}
section[aria-label="education"] {
	padding: var(--contGap) var(--baseWidPer);
	background: rgb(var(--lightBlueHEX) / 50%);
	grid-row: 2 / 3;
}
section > *, article > *{
	margin: var(--contGap) 0;
}
section[aria-label="education"] ul {
	list-style: none;
}
section a {
	color: var(--darkBlue);
	font-weight: 600;
	transition: var(--transAll);
}
img[alt="Profile Picture"] {
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
}
h1 {
	text-align: center;
}
article strong {
	font-weight: 700;
	color: var(--darkBlue);
	background: rgb(var(--lightBlueHEX) / 25%);
}
section span {
	display: block;
	margin-top: calc(var(--contGap)/2);
	margin-bottom: 0;
	font: var(--fontNotation);
}
section em {
	margin: 0;
}
section span + p {
	margin-top: calc(var(--contGap)/2);
	margin-top: calc(var(--contGap)/2);
}
iframe {
	width: 100%;
	display: block;
	height: var(--iframeHeight);
	margin-bottom: 0;
}

article[aria-label="introduction"] section:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
}
.list {
	display: inline-block;
	margin-bottom: var(--contGap);
	width: auto;
	position: relative;
}
.list ul li {
	font: var(--fontP);
}
ul:nth-of-type(2) {
	margin-right: 1rem;
}
/*hover styling*/
@media(hover: hover) and (pointer: fine) {
	section a:hover {
		color: var(--blue);
	}
	i.fa-print {
		color: var(--col-p2); 
		font-size: 1.5rem; 
		position: relative;
		transition: var(--transAll);
	}
	i.fa-print:hover {
		color: var(--col-p1);
	}
	i.fa-print::after {
		content: "Print PDF résumé";
		font: var(--fontSubhead);
		position: absolute;
		display: inline-block;
		left: 2rem;
		bottom: .1rem;
		width: 15rem;
		opacity: 0;
		transition: var(--transAll);
	}
	i.fa-print:hover::after {
		opacity: 1;
	}
}
@media only screen and (min-width: 500px) {
	article[aria-label="introduction"] section:first-child {
		justify-content: flex-start;
	}
	h1 {margin-left: var(--contGap);}
}
@media only screen and (min-width: 800px) {
	iframe{
		margin-bottom: var(--contGap);
	}
}
@media only screen and (min-width: 1000px) {
	main {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}
	article[aria-label="introduction"] {
		grid-column: 1 / span 2;
		grid-row: unset;
	}
	section[aria-label="education"] {
		grid-column: 3 / span 4;
		grid-row: 1 / 2;
	}
	.list {
		font: var(--fontNotation);
	}
	section[aria-label="education"]  p, section[aria-label="education"] ul {
		font: var(--fontBodySmall);
	}
}