/*global CSS variables*/
:root {
    /*text styles*/
    --fontTitleLarge: 600 calc(34rem/16)/calc(41rem/16)'Roboto Slab', sans-serif;
    --fontTitleMed: 400 calc(28rem/16)/calc(34rem/16)'Roboto Slab', sans-serif;
    --fontTitleSmall: 400 calc(22rem/16)/calc(28rem/16)'Roboto Slab', sans-serif;
    --fontHeadline: 400 calc(17rem/16)/calc(26rem/16)'Roboto Slab', sans-serif;
    --fontBody: 400 calc(17rem/16)/calc(22rem/16)'Roboto', sans-serif;
    --fontBodySmall: 400 calc(15rem/16)/calc(18rem/16)'Roboto', sans-serif;
    --fontCallout: 600 calc(16rem/16)/calc(21rem/16)'Roboto Slab', sans-serif;
    --fontSubhead: 600 calc(15rem/16)/calc(20rem/16)'Roboto Slab', sans-serif;
    --fontNotation: 400 calc(13rem/16)/calc(16rem/16)'Roboto Slab', sans-serif;
    --fontCode: 400 calc(16rem/16)/calc(18rem/16)'Roboto Mono', monospace;
    /*colors*/
    --red: #DD313C;
    --orange: #CC4E0F;
    --pink: #BE4B83;
    --purple: #714885;
    --blue: #056cb6;
    --darkBlue: #04497A;
    --lightBlue: #4BA4E3;
    --lightBlueHEX: 75 164 227;
    --lightHEX: 255 255 255;
    --slate: #2f4858;
    --yellow: #ecea62;
    --grey: #757575;
    --lightGrey: #ccc;
    --darkGrey: #353535;
    --light: #fff;
    --dark: #000;
    /*units & utilities*/
    --baseWidPer: 4vw;
    --touchMinvw: 14vw;
    --padRem: 1rem;
    --textAlign: center;
    --transAll: all 0.5s ease-in-out;
    --iframeHeight: 24rem;
}
/*base styling*/
body {
    font: var(--fontBody);
    min-width: 300px;
    width: 100%;
	min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::-moz-selection, ::selection { background: var(--lightBlue); }
/*text styling*/
h1 {font: var(--fontTitleMed);}
h2 {font: var(--fontTitleSmall);}
h3 {font: var(--fontHeadline);}
h4 {font: var(--fontCallout);}
h5 {font: var(--fontSubhead);}
h6 {font: var(--fontSubhead);}
p {font: var(--fontBody);}
small {font: var(--fontNotation);}
a {text-decoration: none;}
main ul {list-style: disc inside;}
main ol {list-style: decimal inside;}
abbr {position: relative;}
/*section styling*/
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(min-content, 5rem) auto minmax(min-content, 5rem);
}
body header {
    width: inherit;
    padding: 0 var(--baseWidPer);
    background: var(--blue) linear-gradient(to left, var(--darkBlue), var(--blue));
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}
nav[aria-label="main"] {
    height: inherit;
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
}
body footer {
    grid-column: 1 / span 12;
    grid-row: 3 / 4;
    width: inherit;
    padding: var(--padRem) var(--baseWidPer);
    background: var(--blue) linear-gradient(to right, var(--darkBlue), var(--blue));
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
/*content styling*/
/*global header nav*/
nav[aria-label="main"] a {
    color: var(--lightGrey);
    display: inline-block;
    text-align: var(--textAlign);
    transition: var(--transAll);
}
nav[aria-label="main"] a:first-child {
    width: 100%;
    font: var(--fontHeadline);
}
nav[aria-label="main"] a:not(a:first-child) {
    font: var(--fontSubhead);
    flex: 1;
}
/*global footer*/
footer a {
    color: var(--light);
    background:var(--lightBlue);
    height: var(--touchMinvw);
    width: var(--touchMinvw);
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: relative;
}
footer small {
    display: block;
    width: 100%;
    color: var(--light);
    text-align: center;
    margin-top: calc(var(--padRem)/2);
}
/*utility classes*/
.active {color: var(--light) !important;}
.noTopMar {margin-top: 0 !important;}
.noBotMar {margin-bottom: 0 !important;}
/*screen reader content for accessiblity*/
.sr {
    height: 1px; width: 1px;
    position: absolute; top: -10px; overflow: hidden; 
}
body::-webkit-scrollbar {
    display: none;
}
/*responsive breakpoint - med screen*/
@media only screen and (max-width: 500px) {
    .active {color: var(--lightGrey) !important;}
    nav[aria-label="main"] a {
        margin: 0 5px;
    }
    nav[aria-label="main"] a:first-child {
        color: var(--light) !important;
    }
}
@media only screen and (min-width: 500px) {
    :root {
        --padRem: 1.5rem;
        --textAlign: left;
        --iframeHeight: 36rem;
    }
    nav[aria-label="main"] a:first-child, 
    nav[aria-label="main"] a:not(a:first-child) {
        width: auto; flex: auto;
        font: var(--fontHeadline); 
    }
    footer {
        flex-flow: row wrap;
        justify-content: center;
    }
    footer a {
        height: calc(var(--padRem)*2);
        width: calc(var(--padRem)*2);
        margin: 0 calc(var(--padRem)/3);
    }
}
/*responsive breakpoint - large screen*/
@media only screen and (min-width: 800px) {
    nav[aria-label="main"] {
        justify-content: flex-end;
    }
    nav[aria-label="main"] a:first-child {
        margin-right: auto;
        color: var(--light);
        flex: none;
    }
    nav[aria-label="main"] a:not(a:first-child) {
        flex: none;
        margin-left: calc(var(--padRem)*2);
    }
    footer a {
        background: var(--blue);
        transition: var(--transAll);
    }
    footer small {width: auto; margin-left: auto;}
}
/*hover styling*/
@media(hover: hover) and (pointer: fine) {
    nav[aria-label="main"] a:hover {
        color:var(--light);
    }
    abbr {
        transition: var(--transAll);
    }
    abbr:hover {
        cursor: pointer;
        background: var(--blue);
        color: var(--light);
    }
    abbr::after {
        position: absolute;
        content: attr(data-title);
        font: var(--fontNotation);
        color: var(--dark);
        background: var(--light);
        padding: .2rem;
        opacity: 0;
        text-align: center;
        transition: var(--transAll);
        top: 2rem;
        left: 0rem;
        box-shadow: 0px 0px 5px var(--dark);
        border-top: 2px solid var(--lightBlue);
        border-radius: 10%;
    }
    abbr:hover::after {
		opacity: 1;
	}
    footer a:hover {
        background: var(--lightBlue);
    }
    footer a::after {
        position: absolute;
        content: attr(data-title);
        width: 5.5em;
        height: 2em;
        bottom: 4em;
        font: var(--fontNotation);
        display: grid;
        place-items: center;
        color: var(--light);
        background: var(--orange);
        border-radius: .2rem;
        opacity: 0;
        transition: var(--transAll);
    }
    footer a::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        bottom: 2.2em;
        border-style: solid;
        border-width: .5rem;
        border-color: var(--orange) transparent transparent transparent;
        transition: var(--transAll);
        opacity: 0;
    }
    footer a:hover::after, footer a:hover::before {
        opacity: 1;
    }
}
@media only screen and (min-width: 1000px) {
    :root {
        --iframeHeight: 40rem;
    }
}
@media (prefers-reduced-motion: reduce) {
    /*set animation duration none*/
    :root {
        --transAll: none 0s;
    }
}
@media (prefers-color-scheme: dark) {
    /*dark mode color scheme and content dimming*/
}
@media print {
    /*change page styling to be printer friendly - less ink, high contrast, smaller image*/
}