:root {
    --contGap: 1rem;
	--textAlign: center;
}
/*PROJECT TEMPLATE STYLE*/
main {
    grid-column: 1 / span 12;
    grid-row: 2 / 3;
	padding: var(--contGap) var(--baseWidPer);
}
section > h3 {
	margin-bottom: var(--contGap);
}
article section h3 {
	margin: var(--contGap) 0;
}
section figure img {
	display: block;
}
main > * {
	margin: var(--contGap) 0;
}
h2 + p {
	font: var(--fontHeadline);
}
.projNotes li h3 {
	font: var(--fontTitleSmall);
	margin-bottom: var(--contGap);
}
.projNotes li:first-of-type, 
ul.projNotes:last-of-type {
	list-style: none;
}
.projNotes li em {
	font-weight: 700;
	display: block;
}
#intro > *, #summary > *, article > section {
	margin: var(--contGap) 0;
}
#summary small {
	display: block;
	width: 100%;
	text-align: var(--textAlign);
}
article section:nth-last-of-type(2) a img {
	background: rgb(var(--lightGray) / 50%);
}
/*project styles*/
span.viewPDF {position: relative;}
span.viewPDF::after {
	content: "(Click for PDF)";
	position: absolute;
	top: .2rem;
	left: .5rem;
	width: 6rem;
	height: 1.2rem;
	font: var(--fontNotation);
}
.fileLink img {width: 100%;}
img[alt^="business card"] {
	margin-bottom: var(--contGap);
}
img[alt*="foldout"]:not([alt*="front"]) {
	display: none;
}
section.brand img {
	box-shadow: 2px 2px 5px var(--dark);
}
/*TEMPLATE MEDIA QUERIES*/
@media only screen and (min-width: 500px) {
	:root {
		--textAlign: left;
		--contGap: 1.5rem;
	}
}
@media only screen and (min-width: 800px) {
	.projNotes li em, ol.projNotes, ul:first-of-type {
		display: inline-block;
	}
	#summary ul:first-of-type {
		margin-left: var(--contGap);
		margin-top: 0;
		margin-bottom: 0;
	}
	#summary ul:last-of-type {
		margin-top: 0;
	}
}
/*project queries*/
@media only screen and (min-width: 500px) {
	span.viewPDF {display: none;}
}
@media only screen and (min-width: 800px) {
	:root {
		--imgWid: 22rem;
		--border: 2px solid #ccc;
		--docHeight: 40rem;
	}
	.cards {
		display: flex;
		flex-flow: row nowrap;
	}
	.fileLink:first-of-type {
		pointer-events: none;
		cursor: default;
	}
	iframe.pdf {
		width: 28rem;
		display: inline-block;
		height: var(--docHeight);
		box-shadow: 2px 2px 5px var(--dark);
		float: left;
		margin-right: var(--contGap);
	}
	#banner {display: none;}
	span.viewPDF {display: none;}
	img[alt="ripple report"] {display: none;}
	img[alt*="business"] {
		width: 14rem;
	}
	img[alt="business card back 2"], img[alt="business card front"] {
		margin-left: var(--contGap);
	}
	img[alt^="foldout"] {
		display: inline-block !important;
		width: var(--imgWid);
	}
	img[alt="foldout front"] {
		float: left;
	}
	img[alt="foldout back"] {
		margin-left: var(--contGap);
		clear: left;
	}
	img[alt*="inner"] {
		margin-top: var(--contGap);
		width: calc(var(--imgWid) + var(--contGap) / 2);
		box-shadow: initial !important;
	}
	img[alt*="inner left"] {
		border-left: var(--border);
		border-top: var(--border);
		border-bottom: var(--border);
		position: relative;
		float: left;
	}
	img[alt*="inner right"] {
		border-right: var(--border);
		border-top: var(--border);
		border-bottom: var(--border);
		position: relative;
		clear: left;
	}
	img[alt="banner"] {
		width: 16rem;
	}
}
@media only screen and (min-width: 1200px) {
	:root {
		--imgWid: 36rem;
		--docHeight: 45rem;
	}
	img[alt*="business"] {
		width: 23rem;
	}
	iframe.pdf {
		width: 40rem;
	}
	img[alt="banner"] {
		width: 18rem;
	}
}